body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header{
    text-align: center;
    padding: 0.5%;
}
.navbar {
    width: 100%;
    border-radius: 0px;
  
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navButton {

}
.navButton a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
navButton a:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}
.design{
    text-align: center;
}
.designHeader{
    font-size: 2em;
}
.new {
    text-align: center;
}
