<meta name="viewport" content="width=device-width, initial-scale=1">
<form class="new">
    <div>
    <div class="design">
        <div>
             <md-input-container>
                 <label>Author</label>
                 <input type="text" ng-model="vm.newList.postedBy">
             </md-input-container>
             <md-input-container>
                <label>List Name</label>
                <input type="text" ng-model="vm.newList.listName">
             </md-input-container>
             <br>
             <div ng-click="vm.showAddItem(list)">
                <md-button class="createBtn" ng-hide="vm.listCreated" ng-click="vm.addList(vm.newList)">Create List</md-button>
             </div>
             <br>
             <md-input-container ng-show="vm.listCreated" ng-click="vm.showAddItem(list)">
                <label>New List Item</label>
                <input type="text" ng-model="vm.newList.listItems">
             </md-input-container>
        </div>
    </div>
        <md-button class="addBtn" ng-show="vm.listCreated" ng-click="vm.addListItem(vm.newList)">Add Item</md-button>
    </div>
</form>